[Desktop Entry]
Version=1.0.0
Name=progresso system
GenericName=progresso system
Comment=A new Flutter project.
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;
Icon=progresso_system
